@charset "utf-8";

/*公共样式*/
*{
	margin: 0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
b,strong{
	font-weight: 100;
}
em,i{
	font-style:normal;
}
a,u{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:16px;font-weight:100;
}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.clearfix{zoom:1;}


.header0,.top0,.wrap0,.footer0{width:1080px;margin:0 auto}
/*header*/
#header{
	height:30px;
	background:#333333;
}
.header0{
	height:30px;
	background:#333333;
}
.header0 .header-nav{
	float: left;
	width:230px;
	height:12px;
	margin-top:10px;
}
.header0 .header-nav li{
	float:left;
	display:block;
	font-size: 12px;
	line-height: 12px;
	margin-right:18px;
}
.header0 .header-nav li a:hover{
	color:#fff;
}
.header0 .header-nav li:nth-child(1){
	padding-right:18px;
	border-right: 1px solid #ccc;	
}
.header0 .header-nav li:nth-child(2){
	border-right: 1px solid #ccc;
	padding-right:18px;	
}
.header0 .header-nav li a{
	color:#ccc;
}

.header0 .header-user{
	float:left;
	width:478px;
	height:30px;

	margin-left:372px;
	text-align: center;
}
.header0 .header-user li{
	float:right;
	font-size: 12px;
	line-height: 29px;	
	padding:0 18px;
	text-align: center;
}
.header0 .header-user li a{
	color:#ccc;
}
.header0 .header-user li i{
	color:#ccc;
}
.header0 .header-user li a:hover{
	color:#fff;
}
.header0 .header-user li:nth-child(4) b{
	display: inline-block;
	width:1px;
	height:11px;
	background: #ccc;
	margin-left: 18px;
}
.header0 .header-user li span{
	color:#ccc;
}
.header0 .header-user li:nth-child(3){
	padding:0 ;
}
.header-user li:nth-child(3) div{
	width:150px;
	height:228px;
	position:absolute;
	/*background:#fff;*/
	top:40px;
	left:818px;
	display:none;
	box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
}
.header-user li:nth-child(3) div i{
	width:30px;
	height:15px;
	background:url(../img/triangle.png) no-repeat;
	z-index: 1;
	display: block;
	margin:0 auto;
	background-size: 100% 100%;
	position: absolute;
	top:-15px;
	left:60px;
}
.header-user li:nth-child(3) div dl{
	width:150px;
	height:220px;
	margin:10px 1px 10px 0;
	background:#fff;
	border-radius:4px;
}
.header-user li:nth-child(3) dt{
	width:40px;
	height:40px;
	margin:0 auto;
	background:url(../img/appLogo.png) no-repeat;
}
.header-user li:nth-child(3) span{
	font-size: 12px;
	line-height:24px;
	color:#523669;
	text-align:center;
	padding-top:10px;
}
.header-user li:nth-child(3) p{
	width:130px;
	height:130px;
	background: url(../img/app.png) no-repeat;
	margin:10px auto 0;
	background-size:100% 100% ;
}
.header0 .header-user li:nth-child(3) b{
	display: inline-block;
	width:1px;
	height:11px;
	background: #ccc;
	margin-left: 18px;
}
.header0 .header-user li:nth-child(5){
	padding:0 ;
}
.header0 .header-user li:nth-child(1){
	background: #523669;
}


/*top*/
#top{
	height:98px;
	background: #fff;
}
.top0{
	height:98px;
	background:#fff;
}
.top0 h1{
	float:left;
	padding-top: 24px;
}
.top0 .step-box{
	width:560px;
	height:42px;

	float:left;
	margin:24px 0 0 289px;
}
.step-pic{
	width:560px;
	height:20px;
	background:url(../img/car_steps.png) -30px -23px no-repeat;
}
.step-list{
	margin-top:3px;
}
.step-list .step-son{
	width:140px;
	height:19px;
	line-height:19px;
	text-align: center;
	color:#ccc;
	float:left;
	font-size:12px;
}
.step-list .first{
	color:#7e5992;
}

/*wrap*/
#wrap{
	background:#f9f9f9;
	padding-bottom: 60px;
}
.wrap0{
	min-height:364px;
	background:#fff;
}
.shopTop{
	width:1080px;
	height:66px;
	border-bottom:1px solid #eee;
}
.shopTop .shopTop-title{
	display:block;
	width:75px;
	height:18px;
	font-size:18px;
	line-height:18px;
	text-align: center;
	color:#523696;
	padding-top:34px;
}
.comment-box{
	width:1080px;
	height:37px;
}
.comment-box1{
	width:180px;
	height:37px;
	float:left;
}
.comment-box1 .comment-clc{
	display:block;
	width:15px;
	height:15px;
	background:url(../img/dg1.png) no-repeat;
	float:left;
	margin:11px 10px 0 10px;
	cursor:pointer;
}
.comment-box1 .comment-word{
	display:block;
	width:40px;
	height:37px;
	line-height:37px;
	color:#523669;
	font-size:12px;
	float:left;
}
.comment-box2{
	width:480px;
	height:37px;
	font-size:12px;
	color:#523669;
	line-height:37px;
	float:left;
}
.comment-box3{
	width:120px;
	height:37px;
	font-size:12px;
	color:#523696;
	line-height:37px;
	float:left;
}
.comment-box4{
	width:60px;
	height:37px;
	font-size:12px;
	color:#523696;
	line-height:37px;
	float:left;
}
.shopping-con{
	width:1080px;
	overflow: hidden;
}
.shoppingBox{
	width:1080px;
	height:157px;
	float:left;
	border-bottom:1px dashed #ccc;
}
.order-box{
	width:1080px;
	height:36px;
	background:#eee;
}
.order-box .order-title{
	width:1070px;
	height:36px;
	margin-left:10px;
	float:left;
}
.order-box .order-title .order-clc{
	display:block;
	width:15px;
	height:15px;
	background:url(../img/dg1.png) no-repeat;
	margin:11px 10px 0 0;
	float:left;
	cursor:pointer;
}
.order-box .order-title .order-word{
	width:1045px;
	height:36px;
	line-height:36px;
	font-size:12px;
	color:#523696;
	float:left;
}
.shopping-info{
	width:1080px;
	height:120px;
}
.shopping-info1{
	width:15px;
	height:15px;
	background:url(../img/dg1.png) no-repeat;
	margin:52px 10px 0 10px;
	float:left;
	cursor:pointer;
}
.shopping-info2{
	width:145px;
	height:120px;
	float:left;
}
.shopping-info2 .shopping-info2-pic{
	display:block;
	width:100px;
	height:100px;
	margin:10px 0;
	float:left;
}
.shopping-info3{
	width:480px;
	height:120px;
	font-size:12px;
	color:#523669;
	line-height:120px;
	float:left;
}

.shopping-info4,.shopping-info5,.shopping-info6{
	width:120px;
	height:120px;
	font-size:12px;
	color:#523669;
	line-height:120px;
	float:left;
}
.shopping-info7{
	width:60px;
	height:120px;
	float:left;
}
.shopping-info7 .del{
	display:block;
	width:12px;
	height:12px;
	background:url(../img/a_delete.png) -10px -32px no-repeat;
	margin-top:54px;
	cursor: pointer;
}
.shop-total{
	width:1080px;
	height:52px;
	border-bottom:1px solid #d5cdda;
	float:left;
}
.shop-total .qx-Btn{
	width:180px;
	height:52px;
	float:left;
}
.shop-total .qx-Btn .qx-Btn1{
	display:block;
	width:15px;
	height:15px;
	background:url(../img/dg1.png) no-repeat;
	margin:18px 10px 0;
	float:left;
	cursor: pointer;
}
.shop-total .qx-Btn .qx-Btn2{
	display:block;
	width:;
	height:52px;
	text-align: center;
	font-size:12px;
	color:#333;
	line-height:52px;
	float:left;
	margin-right:10px;
}
.shop-total .qx-Btn .qx-Btn3{
	display:block;
	width:;
	height:52px;
	text-align: center;
	font-size:12px;
	color:#07b9e8;
	line-height:52px;
	float:left;
	cursor: pointer;
}
.shop-total .count-total{
	height:52px;
	text-align: center;
	font-size:12px;
	color:#666;
	line-height:52px;
	float:right;
	margin-right:20px;
}
.shop-total .price-total{
	height:52px;
	text-align: center;
	font-size:12px;
	color:#666;
	line-height:52px;
	float:right;
	margin-right:40px;
}
.balance{
	width:1080px;
	height:50px;
	background:#eeecef;
	float:left;
}
.balance .gono-shop{
	display:block;
	width:100px;
	height:33px;
	float:left;
	background:#724a88;
	font-size:16px;
	color:#fff;
	line-height:33px;
	text-align: center;
	margin:10px 0 0 10px;
}
.balance .balance-total{
	width:100px;
	height:50px;
	font-size:12px;
	color:#666;
	line-height:50px;
	float:left;
	margin-left:770px;
}
.balance .balanceBtn{
	width:85px;
	height:33px;
	color:#fff;
	font-size:16px;
	line-height:33px;
	text-align: center;
	background:#f49f26;
	float:left;
	margin-top:10px;
}



/*footer*/
#footer{
	height:439px;
	background:#fff;
}
.footer0{
	height:439px;
	background:#fff;
}
.footer0 .up{
	width:1080px;
	height:120px;
	border-bottom:1px solid #ccc;
}
.footer0 .up li{
	float:left;
	width:270px;
	height:120px;
}
.footer0 .up img{
	display: block;
	float:left;
	margin:20px 0 0 34px;
}
.footer0 .up p{
	float:left;
	height: 14px;
	line-height:14px;
	color:black;
	margin:53px 0 0 23px;
}

.footer0 .and{
	width:1080px;
	height:141px;

	margin-top:30px;
}
.and .con{
	float:left;
}
.footer0 .and .con{
	width:777px;
	height:141px;

	border-right:1px solid #ccc;
	margin-left:50px;
}
.footer0 .and .con .con-list{
	float:left;
	width:184px;
	height:141px;
}

.and .con .con-list h2{
	height:16px;
	font-size: 16px;
	line-height:16px;
	color:#333;
}
.and .con .con-list .con-list1{
	width:184px;
	height:84px;
	margin-top:35px;
}
.and .con .con-list .con-list1 li{
	margin-bottom: 14px;
	font-size:12px;
	height:12px;
	line-height:12px;
}
.and .con .con-list .con-list1 .official-wb{
	position:relative;
}
.and .con .con-list .con-list1 .official-wb .wb-code{
	width:114px;
	height:114px;
	position:absolute;
	top:-47px;
	left:58px;
	border-radius:4px;
	box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
	display:none;	
}
.official-wb .wb-code span{
	display:block;
	width:114px;
	height:114px;
	border-radius:4px;
	background:url(../img/wxCode.jpg) no-repeat;
	background-size:100% 100% ;
}
.official-wb .wb-code i{
	width:15px;
	height:30px;
	position: absolute;
	top:34%;
	left:-15px;
	background: url(../img/left-triangle.png);
}
.con .con-list .con-list1 li a{
	color:#808080;
}
.con .con-list .con-list1 li a:hover{
	color:#513569;
}
.and .con .con-list img{
	width:99px;
	height:99px;
	margin-top:20px;
}

.and .email{
	width:252px;
	height:141px;
	float:left;
}
.and .email .email-Ch{
	height:16px;
	line-height:16px;
	font-size:16px;
	color:#333;
	text-align: center;
	margin-top:4px;
}

.and .email .email-En{
	height:14px;
	line-height:14px;
	font-size:14px;
	color:#808080;
	text-align: center;
	margin-top:35px;
}

.down{
	width:1080px;
	height:84px;
	margin-top:63px;
}
.down-p{
	height:12px;
	line-height: 12px;
	text-align: center;
	color:#808080;
	font-size:12px;
	margin-bottom:15px;
}
.down .down-p1 span{
	margin-left:24px;
}
.down .down-p1 span:nth-child(3) a{
	color:#808080;
}
.down .down-p2 span{
	margin-left:24px;
}