@charset "utf-8";

/*公共样式*/
*{
	margin: 0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
b,strong{
	font-weight: 100;
}
em,i{
	font-style:normal;
}
a,u{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:16px;font-weight:100;
}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.clearfix{zoom:1;}



/*footer*/
.footer0{width:1080px;margin:0 auto}
#footer{
	height:439px;
	background:#fff;
}
.footer0{
	height:439px;
	background:#fff;
}
.footer0 .up{
	width:1080px;
	height:120px;
	border-bottom:1px solid #ccc;
}
.footer0 .up li{
	float:left;
	width:270px;
	height:120px;
}
.footer0 .up img{
	display: block;
	float:left;
	margin:20px 0 0 34px;
}
.footer0 .up p{
	float:left;
	height: 14px;
	line-height:14px;
	color:black;
	margin:53px 0 0 23px;
}

.footer0 .and{
	width:1080px;
	height:141px;

	margin-top:30px;
}
.and .con{
	float:left;
}
.footer0 .and .con{
	width:777px;
	height:141px;

	border-right:1px solid #ccc;
	margin-left:50px;
}
.footer0 .and .con .con-list{
	float:left;
	width:184px;
	height:141px;
}

.and .con .con-list h2{
	height:16px;
	font-size: 16px;
	line-height:16px;
	color:#333;
}
.and .con .con-list .con-list1{
	width:184px;
	height:84px;
	margin-top:35px;
}
.and .con .con-list .con-list1 li{
	margin-bottom: 14px;
	font-size:12px;
	height:12px;
	line-height:12px;
}
.and .con .con-list .con-list1 .official-wb{
	position:relative;
}
.and .con .con-list .con-list1 .official-wb .wb-code{
	width:114px;
	height:114px;
	position:absolute;
	top:-47px;
	left:58px;
	border-radius:4px;
	box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
	display:none;	
}
.official-wb .wb-code span{
	display:block;
	width:114px;
	height:114px;
	border-radius:4px;
	background:url(img/wxCode.jpg) no-repeat;
	background-size:100% 100% ;
}
.official-wb .wb-code i{
	width:15px;
	height:30px;
	position: absolute;
	top:34%;
	left:-15px;
	background: url(../img/left-triangle.png);
}
.con .con-list .con-list1 li a{
	color:#808080;
}
.con .con-list .con-list1 li a:hover{
	color:#513569;
}
.and .con .con-list img{
	width:99px;
	height:99px;
	margin-top:20px;
}

.and .email{
	width:252px;
	height:141px;
	float:left;
}
.and .email .email-Ch{
	height:16px;
	line-height:16px;
	font-size:16px;
	color:#333;
	text-align: center;
	margin-top:4px;
}

.and .email .email-En{
	height:14px;
	line-height:14px;
	font-size:14px;
	color:#808080;
	text-align: center;
	margin-top:35px;
}

.down{
	width:1080px;
	height:84px;
	margin-top:63px;
}
.down p{
	height:12px;
	line-height: 12px;
	text-align: center;
	color:#808080;
	font-size:12px;
	margin-bottom:15px;
}
.down .down-p1 span{
	margin-left:24px;
}
.down .down-p1 span:nth-child(3) a{
	color:#808080;
}
.down .down-p2 span{
	margin-left:24px;
}
